











header{
    background-image: url(../image/intro-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.nav1{
    background-color: rgba(0, 0, 0, 0.196) !important;
}

.div1 h1{
font-size: 3rem;

}
.div1{
    font-size: 2.5rem;
}



.list{
    list-style: none;
}


.list li{
    font-size: 1.1rem;
    margin-bottom: 15px;
    
}


.div2{
    font-weight: 600;
}



.right-about h2::before{
    content: "";
    position: absolute;
    height: 3px;
    background-color: #00f;
    width: 100px;
    bottom: -2px;
 

}



.right-about p{
    font-size: 1.25rem;
    font-weight: 300;
}


.div4{
    text-align: center;
}


.div4 h2{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.div5{
    background-color:  #0d6efd;
    width: 40px;
    height: 6px;
   
}




 .div6 {
    border-radius: 1rem;
    margin-bottom: 3rem;
    background-color: #fff;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);



}

.div6 span {
    display: inline-block;
    border-radius: 50%;
    border: 8px solid #0078ff;
    margin-bottom: 1rem;
    transition: background-color .5s
}

.div6:hover span {
    background-color: #0078ff;
    border: 8px solid #cde1f8;
    cursor: pointer;
    
}

.services i {
    font-size: 34px
}

.div6:hover i {
    color: #fff
}

.div6 h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1rem
}

.div6 p {
    color: #4e4e4e
}

@media (max-width: 991px) and (min-width:768px) {
    .div6 h3 {
        font-size:1rem
    }
}




.div7 {
    position: relative;
    background-image: url(../image/post-3.jpg);
    background-size: cover;
    background-position: center center;
    padding: 8rem 0;
    color: #fff
}

 .overlayer {
    position: absolute;
width: 100%;
top: 0;
height: 100%;
    background-color: #0078ff;
    opacity: .7
    
}

 .div8 span:first-of-type {
    border-radius: 50%;
    border: 8px solid #cde1f8;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 5px
}

 .div8 i {
    color: #fff
}








.div10 img {
    transition: transform .7s
}

.div10:hover img {
    transform: scale(1.3)
}

 .div11 p {
    font-size: .8rem
}

.portfolio span i {
    cursor: pointer
}

i {
    cursor: pointer
}










.div9{
    width: 40px;
    height: 6px;
}





.div12 {
    background-image: url(../image/overlay-bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding: 8rem 0
}



.carousel-indicators {
    bottom: -20px !important;
}

.carousel-indicators button {
    border-radius: 50%!important;
    width: 12px!important;
    height: 12px!important;
    background-color: #fff!important
}

@media (min-width: 768px) {
   .div12 p{
        padding:0 5rem
    }
}

@media (min-width: 992px) {
    .div12 p {
        padding:0 8rem
    }
}

@media (min-width: 1200px) {
    .div12 p {
        padding:0 13rem
    }
}





 .div15 h3 {
    font-size: .8rem;
    margin: 0;
    padding: 7px 15px;
    text-transform: uppercase
}

.div14 a h5 {
    transition: color .3s ease-in-out
}

.div14 a:hover h5 {
    color: #1872e7
}

 .div16 a {
    transition: color .3s ease-in-out;
    color: #4e4e4e!important
}

 .div16 a:hover {
    color: #1872e7!important
}

 .div16 img {
    width: 30px;
    height: 30px
}













.contact {
    background-image: url(../image/overlay-bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding: 8rem 0 0
}



.div17 button {
    border-radius: 25px!important;
    border: none!important
}

.div17 button:hover {
    background-color: #3393ff;
}

.div18 i {
    color: #0078ff
}

.div19 {
    width: 40px;
    height: 40px;
    transition: background-color .3s;
    border: 4px solid #0078ff;
    cursor: pointer
}

.div19:hover {
    background-color: #0078ff;
    border: 4px solid #cde1f8
}

.div19 i {
    font-size: 18px
}

.div19:hover i {
    color: #fff
}

footer {
    background-color: #0062d3
}
